// Specific CSS for your home-page
body{
  background-color: #080E20;
  color: white;
  align-items: center;
}

.main-banner {
  background: linear-gradient(180deg, rgba(8, 14, 32, 0.21) 0%, rgba(8, 14, 32, 0.98) 100%), url('https://images.theconversation.com/files/223749/original/file-20180619-126537-5l632j.jpg?ixlib=rb-1.1.0&rect=0%2C0%2C3471%2C1732&q=45&auto=format&w=1356&h=668&fit=crop');
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 100px;
}

.home-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.home-container h2{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 50px;
}

.search_galaxy {
  margin: 0;
}

#search_galaxy {
  border-radius: 8px;
  width: 100%;
  height: 3em;
}

.home-container a{
  text-decoration: none;
}

.input-size {
  width: 100%;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content h1{
  margin-bottom: 30px;
}