.card-planet-text {
  padding: 20px;
  
}
.card-planet-text  h5{
  word-spacing: 7px;
}

.card-planet-text p {
display: flex;
text-align: left;

margin: 0 auto;
left: 65px;
top: 921px;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 42px;

color: #FFFFFF;
}
.container-owner{
  padding: 20px;
}
.card-information-planet{
padding: 20px;
}
.card-information-planet p{
  margin-left: 40px;
  padding-bottom: 10px;
}

#booking-form {
  width: 300px;
}
.avatar-planet{
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit:cover;
  margin-left: 600px;

}
