.card-planet-text {

  padding: 20px 0;
  
}
.card-planet-text  h5{
  word-spacing: 7px;
}

.card-information-planet h5 {
  font-size: 15px;
  opacity: .5;
}

.card-information-planet p {
  font-size: 20px;
  font-weight: bold;
}

.container-owner{
  padding: 20px 0;
  h3 {
   color: #4c5b88;
   font-size: 34px;
  }
  span {
     color: white;
  }
}
.card-information-planet{

}
.card-information-planet p{

  padding-bottom: 10px;
}

#booking-form {
  width: 300px;
}
.avatar-planet{
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit:cover;
  margin-left: 600px;

}
