.card-planet-text {

  padding: 20px 0;
  
}
.card-planet-text  h5{
  word-spacing: 7px;
}

.card-information-planet h5 {
  font-size: 15px;
  opacity: .5;
}

.card-information-planet p {
  font-size: 20px;
  font-weight: bold;
}

.container-owner{
  padding: 20px 0;
  h3 {
   text-shadow: 0 0 10px black;
   color: rgb(211, 211, 211);
   font-size: 34px;
  }
  span {
     text-shadow: 0 0 5px black;
     color: #00ffee;
  }
}

.card-information-planet p{

  padding-bottom: 10px;
}

#booking-form {
  width: 300px;
}
.avatar-planet{
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit:cover;
  margin-left: 600px;
}

.show-page-container {
  padding-top: 80px;
}
