
<div class="index-background">
<div class="card-planet-page" style="background-image:linear-gradient(180deg, rgba(8, 14, 32, 0.36) 58.85%, #080E20 95.31%), url(<%= image_path 'mars.jpg' %>)">
  <h1> <%= @planet.name %></h1>
</div>

<div class="container d-flex">
  <div class="left p-4">
    <div class="card-carrousel">
    </div>

    <div class="card-planet-text">
      <p> A lot of description text and things for thes awesome planet. Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury. In English, Mars carries the name of the Roman god of war and is often referred to as the "Red Planet".[16][17] The latter refers to the effect of the iron oxide prevalent on Mars's surface, 
      which gives it a reddish appearance distinctive among the astronomical bodies visible to the naked eye.[18] Mars is a terrestrial planet with a thin atmosphere, with surface features reminiscent of the impact craters of the Moon and the valleys, deserts and polar ice caps of Earth.
      </p>
      <p> A lot of description text and things for thes awesome planet. Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury. In English, Mars carries the name of the Roman god of war and is often referred to as the "Red Planet".[16][17] The latter refers to the effect of the iron oxide prevalent on Mars's surface, 
      which gives it a reddish appearance distinctive among the astronomical bodies visible to the naked eye.[18] Mars is a terrestrial planet with a thin atmosphere, with surface features reminiscent of the impact craters of the Moon and the valleys, deserts and polar ice caps of Earth.
      </p>
      <p> A lot of description text and things for thes awesome planet. Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury. In English, Mars carries the name of the Roman god of war and is often referred to as the "Red Planet".[16][17] The latter refers to the effect of the iron oxide prevalent on Mars's surface, 
      which gives it a reddish appearance distinctive among the astronomical bodies visible to the naked eye.[18] Mars is a terrestrial planet with a thin atmosphere, with surface features reminiscent of the impact craters of the Moon and the valleys, deserts and polar ice caps of Earth.
      </p>
    </div>
  </div>

<div class="card-dates mt-4">
<h2>BOOK NOW</h2>
</div>





</div>

<%= link_to 'Back to planets', planets_path%>
</div>