.card-planet {
  width: 100%;
  color: black;
  height: 200px;
  background: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.card-planet img {
  padding-left: 5px;
  height: 60%;
  width: 120px;
  object-fit: cover;
}

.card-planet .card-planet-info h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-planet p {
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 0;
}

.card-planet .card-planet-info {
  padding: 14px;
}
.cards{
  flex-grow: 1;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap: 28px;
  padding: 15px;
}
@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.card-planet:hover {
  box-shadow: inset 0px 0px 30px #ff446a9f;
}

