
.footer {
  background: rgb(28,37,65);
  background: linear-gradient(0deg, rgba(28,37,65,1) 13%, rgba(22,30,55,0.5382528011204482) 77%, rgba(8,15,32,0.5438550420168067) 100%);  
  color: #ACC0FF;
  width: 100%;
  padding: 30px;
  height: 200px;
  margin-top: 100px;
  bottom:0;
}

.footer-content h5{
  font-weight: bold;
}