
.form-box {
  background-color: #1C2541;
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 4px solid #ACC0FF;
  box-sizing: border-box;
  color: #FF2C55;
  border-radius: 5%;
  text-align: center;
}


.form-inputs {
  color: #ACC0FF;
  text-align: left;
}


.form-actions {
  color: white;
  padding: 5px 10px;
  font-size: 17px;
  background-color: #FF2C55;
  border: 2px solid #FF2C55;
  border-radius: 6px;
  width: 100%;
  text-align: center;
}
