// background

body {
 background-image: url("https://images.unsplash.com/photo-1528484701073-2b22dc76649e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTh8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80");
 background-color: #cccccc;
}




// First box, details about the Users

.profil-details {
  width: 100%;
  color: white;
  background: #1C2541;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border-color: #1C2541;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
  padding: 20px;

}

.profil-details img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  border: 1px solid #FF2C55;
  image-position: center;
  image-fit: cover;
  margin-right: 160px;
}

.profil-name-email {
  font-size: 40px;
  font-weight: bold;
  position: center;
  justify-content: center;
  align-items: center;
}

// Rented and owned planet

.my-planets-card {
 width: 100%;
  color: black;
  height: 200px;
  background: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}


.my-planets-card {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.my-planets-card:hover, .my-planets-card:focus, .my-planets-card:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.my-planets-card {
  flex-grow: 1;
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-gap: 28px;
  padding: 15px;
}

.profile-page .my-planets-card {
  width: 100% !important;
}
@media(max-width: 992px) {
  .my-planets-card {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .my-planets-card {
    grid-template-columns: 1fr;
  }
}


.my-planets-card img {
  padding-left: 10px;
  height: 100%;
  width: 160px;
  object-fit: cover;
  border-radius: 90%;
}

.my-planets-card  h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  width: 100%;
  justify-content: right;
  align-items: right;
  color: #FF2C55;
}

.my-planets-card .my-planets-content p {
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 0;
  position: center;
  justify-content: center;
  align-items: center;
  color: #FF2C55;
  text-decoration: none;
}

.header h1 {
  width: 100%;
  justify-content: center;
  margin-top: 15px;
  color: white;

}

.cards-section {
  width: 80%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-end;
}

.profile-container {
  width: 30%;
  margin: 30px auto;
  display: flex;
}

.carousel-cell {
  margin: 10px;
}

