// First box, details about the Users

.profil-details {
  width: 100%;
  color: white;
  background: #1C2541;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border-color: #1C2541;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  padding: 20px;

}

.profil-details img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  border: 1px solid #FF2C55;
  image-position: center;
  image-fit: cover;
}

.profil-name-email {
  font-size: 40px;
  font-weight: bold;
  position: center;
  justify-content: center;
  align-items: center;
}

// Rented and owned planet

.my-planets-card {
  color: #1C2541;
  height: 180px;
  background: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 400px;
  margin: 20px;
}

.my-planets-card {
  flex-grow: 1;
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-gap: 28px;
  padding: 15px;
}
@media(max-width: 992px) {
  .my-planets-card {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .my-planets-card {
    grid-template-columns: 1fr;
  }
}

.my-planets-card:hover {
  box-shadow: inset 0px 0px 30px #ff446a9f;
}

.my-planets-card img {
  padding-left: 10px;
  height: 100%;
  width: 160px;
  object-fit: cover;
  border-radius: 90%;
}

.my-planets-card  h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  width: 100%;
  justify-content: right;
  align-items: right;
  color: #FF2C55;
}

.my-planets-card .my-planets-content p {
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 0;
  position: center;
  justify-content: center;
  align-items: center;
  color: #FF2C55;
  text-decoration: none;
}

.header {
  width: 20%;
}

.cards-section {
  width: 80%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-end;
}

.profile-container {
  width: 95%;
  margin: 30px auto;
  display: flex;
}

