@font-face {
  font-family: 'GoodTimes';
  src: url('fonts/good times rg.ttf');
}

.topnav {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  background-color: transparent;
  align-items: center;
  height: 70px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 50px;
  z-index: 300;
}

/* Style the links inside the navigation bar */

.title-plarent {
  color: #FF2C55;
  font-size: 30px;
  font-family: "good times";
  transition: all 0.3s;
}

.title-plarent:hover {
  color: white;
}

.logo-navbar {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.logo-navbar img {
  width: 50px;
  margin-right: 10px;
}

.topnav-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
