
.topnav {
  background-color: #1C2541;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav > .red-btn {
  margin: 10px 5px;

}


.topnav a {
  float: left;
  color: #FF2C55;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 17px;
}
