@font-face {
  font-family: 'GoodTimes';
  src: url('fonts/good times rg.ttf');
}

.topnav {
  display: flex;
  background-color: #1C2541;
  align-items: center;
  overflow: hidden;
  height: 70px;
  padding-left: 30px;
  padding-right: 30px;
}

/* Style the links inside the navigation bar */

.title-plarent {
  color: #FF2C55;
  font-size: 30px;
  font-family: "good times";
}

.logo-navbar {
  display: flex;
  align-items: center;
}

.logo-navbar img {
  width: 50px;
  margin-right: 10px;
}
